body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f7fa;
  }
  
  .img {
    width: 500px;
    height: 500px;
  }
  
  .Main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  }
  
  
